In [ ]:
movies=pd.read_csv("tmdb_5000_movies.csv")
credits=pd.read_csv("tmdb_5000_credits.csv")

In [60]:
credits.head

<bound method NDFrame.head of       movie_id                                     title  \
0        19995                                    Avatar
1          285  Pirates of the Caribbean: At World's End
2       206647                                   Spectre
3        49026                     The Dark Knight Rises
4        49529                               John Carter
...        ...                                       ...
4798      9367                               El Mariachi
4799     72766                                 Newlyweds
4800    231617                 Signed, Sealed, Delivered
4801    126186                          Shanghai Calling
4802     25975                         My Date with Drew

                                                   cast  \
0     [{"cast_id": 242, "character": "Jake Sully", "...
1     [{"cast_id": 4, "character": "Captain Jack Spa...
2     [{"cast_id": 1, "character": "James Bond", "cr...
3     [{"cast_id": 2, "character": "Bruce Wayne / Ba...
4     [{"cast_id": 5, "character": "John Carter", "c...
...                                                 ...
4798  [{"cast_id": 1, "character": "El Mariachi", "c...
4799  [{"cast_id": 1, "character": "Buzzy", "credit_...
4800  [{"cast_id": 8, "character": "Oliver O\u2019To...
4801  [{"cast_id": 3, "character": "Sam", "credit_id...
4802  [{"cast_id": 3, "character": "Herself", "credi...

                                                   crew
0     [{"credit_id": "52fe48009251416c750aca23", "de...
1     [{"credit_id": "52fe4232c3a36847f800b579", "de...
2     [{"credit_id": "54805967c3a36829b5002c41", "de...
3     [{"credit_id": "52fe4781c3a36847f81398c3", "de...
4     [{"credit_id": "52fe479ac3a36847f813eaa3", "de...
...                                                 ...
4798  [{"credit_id": "52fe44eec3a36847f80b280b", "de...
4799  [{"credit_id": "52fe487dc3a368484e0fb013", "de...
4800  [{"credit_id": "52fe4df3c3a36847f8275ecf", "de...
4801  [{"credit_id": "52fe4ad9c3a368484e16a36b", "de...
4802  [{"credit_id": "58ce021b9251415a390165d9", "de...

[4803 rows x 4 columns]>

In [61]:
m =movies.merge(credits,on="title")

In [64]:
movies=m[['id','title','overview','genres','keywords','cast','crew']]
movies.head(1)

,id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [65]:
movies.dropna(inplace=True)

/var/folders/g8/96_yr9d15yj3dc7_g_vbwt3r0000gn/T/ipykernel_61716/3786870272.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies.dropna(inplace=True)

In [66]:
def convert(obj):
    l=[]
    for i in ast.literal_eval(obj):
       l.append (i['name'])
    return l

In [67]:
movies['genres']=movies['genres'].apply(convert)
movies['keywords']=movies['keywords'].apply(convert)

/var/folders/g8/96_yr9d15yj3dc7_g_vbwt3r0000gn/T/ipykernel_61716/4201180745.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['genres']=movies['genres'].apply(convert)
/var/folders/g8/96_yr9d15yj3dc7_g_vbwt3r0000gn/T/ipykernel_61716/4201180745.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['keywords']=movies['keywords'].apply(convert)

In [68]:
movies.head(1)

,id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [69]:
def convert3(obj):
    l = []
    c = 0
    for i in ast.literal_eval(obj):
        if c != 3:
            l.append(i['name'])
            c += 1
        else:
            break

    return l

In [70]:
movies['cast']=movies['cast'].apply(convert3)
movies.head(1)

/var/folders/g8/96_yr9d15yj3dc7_g_vbwt3r0000gn/T/ipykernel_61716/4055873818.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['cast']=movies['cast'].apply(convert3)

,id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weaver]","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [71]:
def fetch(obj):
    l=[]
    for i in ast.literal_eval(obj):
        if i['job']=='Director':
            l.append (i['name'])
            break
    return l

In [72]:
movies['crew']=movies['crew'].apply(fetch)
movies.head(1)

/var/folders/g8/96_yr9d15yj3dc7_g_vbwt3r0000gn/T/ipykernel_61716/1074670481.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['crew']=movies['crew'].apply(fetch)

,id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weaver]",[James Cameron]

In [73]:
movies['overview']=movies['overview'].apply(lambda x:x.split())
movies['genres']=movies['genres'].apply(lambda x:[i.replace(" ","") for i in x ])
movies['keywords']=movies['keywords'].apply(lambda x:[i.replace(" ","") for i in x ])
movies['cast']=movies['cast'].apply(lambda x:[i.replace(" ","") for i in x ])
movies['crew']=movies['crew'].apply(lambda x:[i.replace(" ","") for i in x ])
movies.head(1)

/var/folders/g8/96_yr9d15yj3dc7_g_vbwt3r0000gn/T/ipykernel_61716/200160732.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['overview']=movies['overview'].apply(lambda x:x.split())
/var/folders/g8/96_yr9d15yj3dc7_g_vbwt3r0000gn/T/ipykernel_61716/200160732.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['genres']=movies['genres'].apply(lambda x:[i.replace(" ","") for i in x ])
/var/folders/g8/96_yr9d15yj3dc7_g_vbwt3r0000gn/T/ipykernel_61716/200160732.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['keywords']=movies['keywords'].apply(lambda x:[i.replace(" ","") for i in x ])
/var/folders/g8/96_yr9d15yj3dc7_g_vbwt3r0000gn/T/ipykernel_61716/200160732.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['cast']=movies['cast'].apply(lambda x:[i.replace(" ","") for i in x ])
/var/folders/g8/96_yr9d15yj3dc7_g_vbwt3r0000gn/T/ipykernel_61716/200160732.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['crew']=movies['crew'].apply(lambda x:[i.replace(" ","") for i in x ])

,id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Action, Adventure, Fantasy, ScienceFiction]","[cultureclash, future, spacewar, spacecolony, ...","[SamWorthington, ZoeSaldana, SigourneyWeaver]",[JamesCameron]

In [74]:

movies['tags'] = movies['overview'] + movies['genres'] + movies['keywords'] + movies['cast'] + movies['crew']
new_df = movies[['id', 'title', 'tags']]

/var/folders/g8/96_yr9d15yj3dc7_g_vbwt3r0000gn/T/ipykernel_61716/1607292493.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['tags'] = movies['overview'] + movies['genres'] + movies['keywords'] + movies['cast'] + movies['crew']

In [75]:
new_df['tags']=new_df['tags'].apply(lambda x:" ".join(x))
new_df.head(1)

/var/folders/g8/96_yr9d15yj3dc7_g_vbwt3r0000gn/T/ipykernel_61716/2665467795.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags']=new_df['tags'].apply(lambda x:" ".join(x))

      id   title                                               tags
0  19995  Avatar  In the 22nd century, a paraplegic Marine is di...

In [76]:
new_df['tags']=new_df['tags'].apply(lambda x:x.lower())

/var/folders/g8/96_yr9d15yj3dc7_g_vbwt3r0000gn/T/ipykernel_61716/4224080999.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags']=new_df['tags'].apply(lambda x:x.lower())

In [100]:
pip install nltk

Collecting nltk
  Downloading nltk-3.8.1-py3-none-any.whl (1.5 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.5/1.5 MB 5.0 MB/s eta 0:00:00a 0:00:010m
Collecting click (from nltk)
  Downloading click-8.1.7-py3-none-any.whl.metadata (3.0 kB)
Requirement already satisfied: joblib in /opt/homebrew/Cellar/jupyterlab/4.0.9_1/libexec/lib/python3.12/site-packages (from nltk) (1.3.2)
Collecting regex>=2021.8.3 (from nltk)
  Downloading regex-2023.10.3-cp312-cp312-macosx_11_0_arm64.whl.metadata (40 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 40.9/40.9 kB 4.2 MB/s eta 0:00:00
Collecting tqdm (from nltk)
  Downloading tqdm-4.66.1-py3-none-any.whl.metadata (57 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 57.6/57.6 kB 7.1 MB/s eta 0:00:00
Downloading regex-2023.10.3-cp312-cp312-macosx_11_0_arm64.whl (292 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 292.2/292.2 kB 14.9 MB/s eta 0:00:00
Downloading click-8.1.7-py3-none-any.whl (97 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 97.9/97.9 kB 8.1 MB/s eta 0:00:00
Downloading tqdm-4.66.1-py3-none-any.whl (78 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 78.3/78.3 kB 9.0 MB/s eta 0:00:00
Installing collected packages: tqdm, regex, click, nltk
Successfully installed click-8.1.7 nltk-3.8.1 regex-2023.10.3 tqdm-4.66.1

[notice] A new release of pip is available: 23.3.1 -> 23.3.2
[notice] To update, run: /opt/homebrew/Cellar/jupyterlab/4.0.9_1/libexec/bin/python -m pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [105]:
import nltk

In [106]:
from nltk.stem.porter import PorterStemmer 
ps= PorterStemmer()

In [107]:
def stem (text):
    y=[]
    for i in text.split():
        y.append(ps.stem(i))
    return " " .join (y)

In [109]:
new_df['tags']=new_df['tags'].apply(stem)

/var/folders/g8/96_yr9d15yj3dc7_g_vbwt3r0000gn/T/ipykernel_61716/3293759246.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags']=new_df['tags'].apply(stem)

In [81]:
pip install scikit-learn

Collecting scikit-learn
  Downloading scikit_learn-1.3.2-cp312-cp312-macosx_12_0_arm64.whl.metadata (11 kB)
Requirement already satisfied: numpy<2.0,>=1.17.3 in /opt/homebrew/Cellar/jupyterlab/4.0.9_1/libexec/lib/python3.12/site-packages (from scikit-learn) (1.26.2)
Collecting scipy>=1.5.0 (from scikit-learn)
  Downloading scipy-1.11.4-cp312-cp312-macosx_12_0_arm64.whl.metadata (217 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 217.9/217.9 kB 1.9 MB/s eta 0:00:0000:0100:01
Collecting joblib>=1.1.1 (from scikit-learn)
  Downloading joblib-1.3.2-py3-none-any.whl.metadata (5.4 kB)
Collecting threadpoolctl>=2.0.0 (from scikit-learn)
  Downloading threadpoolctl-3.2.0-py3-none-any.whl.metadata (10.0 kB)
Downloading scikit_learn-1.3.2-cp312-cp312-macosx_12_0_arm64.whl (9.3 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 9.3/9.3 MB 11.2 MB/s eta 0:00:0000:0100:01
Downloading joblib-1.3.2-py3-none-any.whl (302 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 302.2/302.2 kB 14.9 MB/s eta 0:00:00
Downloading scipy-1.11.4-cp312-cp312-macosx_12_0_arm64.whl (29.6 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 29.6/29.6 MB 25.1 MB/s eta 0:00:0000:0100:01
Downloading threadpoolctl-3.2.0-py3-none-any.whl (15 kB)
Installing collected packages: threadpoolctl, scipy, joblib, scikit-learn
Successfully installed joblib-1.3.2 scikit-learn-1.3.2 scipy-1.11.4 threadpoolctl-3.2.0

[notice] A new release of pip is available: 23.3.1 -> 23.3.2
[notice] To update, run: /opt/homebrew/Cellar/jupyterlab/4.0.9_1/libexec/bin/python -m pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [110]:
from sklearn.feature_extraction.text import CountVectorizer 
cv= CountVectorizer(max_features=5000,stop_words='english')

In [111]:
vectors=cv.fit_transform(new_df['tags']).toarray()

In [112]:
vectors[800]

array([0, 0, 0, ..., 0, 0, 0])

In [115]:
cv.get_feature_names_out()

['000' '007' '10' '100' '11' '12' '13' '14' '15' '16' '17' '17th' '18'
 '18th' '18thcenturi' '19' '1910' '1920' '1930' '1940' '1944' '1950'
 '1950s' '1960' '1960s' '1970' '1970s' '1971' '1974' '1976' '1980' '1985'
 '1990' '1999' '19th' '19thcenturi' '20' '200' '2003' '2009' '20th' '21st'
 '23' '24' '25' '30' '300' '3d' '40' '50' '500' '60' '70' '80' 'aaron'
 'aaroneckhart' 'abandon' 'abduct' 'abigailbreslin' 'abil' 'abl' 'aboard'
 'abov' 'abus' 'academ' 'academi' 'accept' 'access' 'accid' 'accident'
 'acclaim' 'accompani' 'accomplish' 'account' 'accus' 'ace' 'achiev'
 'acquaint' 'act' 'action' 'actionhero' 'activ' 'activist' 'activities'
 'actor' 'actress' 'actual' 'ad' 'adam' 'adamsandl' 'adamshankman' 'adapt'
 'add' 'addict' 'adjust' 'admir' 'admit' 'adolesc' 'adopt' 'ador'
 'adrienbrodi' 'adult' 'adultanim' 'adulteri' 'adulthood' 'advanc'
 'adventur' 'adventure' 'adventures' 'advertis' 'advic' 'advis' 'affair'
 'affect' 'afghanistan' 'africa' 'african' 'africanamerican'
 'aftercreditssting' 'afterlif' 'aftermath' 'ag' 'age' 'agediffer' 'agenc'
 'agency' 'agenda' 'agent' 'agents' 'aggress' 'ago' 'agre' 'ahead' 'aid'
 'aidanquinn' 'ail' 'aim' 'air' 'airplan' 'airplanecrash' 'airport' 'aka'
 'al' 'alabama' 'alan' 'alaska' 'albert' 'alcatraz' 'alcohol'
 'alecbaldwin' 'alex' 'alexkendrick' 'alfredhitchcock' 'alfredmolina'
 'ali' 'alic' 'alice' 'alien' 'alieninvas' 'alienlife' 'alienplanet'
 'aliens' 'alik' 'aliv' 'alive' 'allen' 'alli' 'allianc' 'allow' 'alon'
 'alongsid' 'alpacino' 'alpha' 'alreadi' 'alter' 'altern' 'alway' 'alyssa'
 'alzheimer' 'amanda' 'amandapeet' 'amandaseyfri' 'amateur' 'amaz'
 'amazon' 'ambassador' 'ambit' 'ambiti' 'ambul' 'ambush' 'america'
 'american' 'americanabroad' 'americancivilwar' 'americanfootbal'
 'americanfootballplay' 'amid' 'amidst' 'amnesia' 'amp' 'amsterdam' 'amus'
 'amusementpark' 'amy' 'amyadam' 'amysmart' 'ana' 'anakin' 'analyst'
 'anarchiccomedi' 'ancient' 'ancientrom' 'ancientworld' 'anderson' 'andi'
 'andiemacdowel' 'andrew' 'android' 'andy' 'andygarcía' 'angel' 'angela'
 'angelabassett' 'angeles' 'angelinajoli' 'anger' 'angle' 'angri' 'ani'
 'anim' 'animalattack' 'animalhorror' 'animals' 'anjelicahuston' 'ann'
 'anna' 'annafari' 'annakendrick' 'anne' 'annehathaway' 'annemoss'
 'annetteben' 'anni' 'annie' 'anniversari' 'announc' 'annual' 'anonym'
 'anoth' 'answer' 'ant' 'antholog' 'anthoni' 'anthonyanderson'
 'anthonyhopkin' 'anthropomorph' 'anti' 'antic' 'antihero' 'antiqu'
 'antoinefuqua' 'antoniobandera' 'antonyelchin' 'anyon' 'anyth' 'apart'
 'apartheid' 'apartment' 'ape' 'apocalyps' 'apocalypse' 'apocalypt'
 'appar' 'appear' 'appl' 'apple' 'appoint' 'appreci' 'apprentic'
 'approach' 'april' 'aquarium' 'arab' 'arch' 'archaeologist' 'archeolog'
 'archer' 'architect' 'arctic' 'area' 'aren' 'arena' 'argument' 'aris'
 'aristocrat' 'arm' 'armi' 'armor' 'armsdeal' 'army' 'arnold'
 'arnoldschwarzenegg' 'arrang' 'arrangedmarriag' 'arrest' 'arriv' 'arrog'
 'art' 'arthur' 'artifact' 'artifici' 'artificialintellig' 'artist' 'ash'
 'ashley' 'ashleyjudd' 'ashtonkutch' 'asia' 'asian' 'asid' 'ask' 'aspect'
 'aspir' 'assassin' 'assault' 'assembl' 'assign' 'assist' 'assistant'
 'associ' 'assum' 'asteroid' 'astronaut' 'asylum' 'atheist' 'athlet'
 'atom' 'atomicbomb' 'attack' 'attacks' 'attempt' 'attend' 'attent'
 'attic' 'attitud' 'attorney' 'attract' 'auction' 'audienc' 'audit'
 'august' 'aunt' 'austin' 'australia' 'australian' 'author' 'autism'
 'auto' 'automobilerac' 'aveng' 'averag' 'avoid' 'await' 'awak' 'awaken'
 'awar' 'award' 'away' 'awkward' 'awri' 'awry' 'ax' 'babe' 'babi' 'baby'
 'bachelor' 'backdrop' 'background' 'backpack' 'bad' 'bag' 'bahama' 'bail'
 'balanc' 'ball' 'ballet' 'balloon' 'baltimor' 'ban' 'band' 'bandit'
 'bangkok' 'banish' 'bank' 'banker' 'bankrobb' 'bankrobberi' 'bar'
 'barbrastreisand' 'bare' 'bargain' 'barn' 'barney' 'baron' 'barri'
 'barrylevinson' 'barrysonnenfeld' 'bas' 'base' 'basebal'
 'basedoncomicbook' 'basedongraphicnovel' 'basedonnovel' 'basedonplay'
 'basedonstagemus' 'basedontrueev' 'basedontruestori' 'basedontvseri'
 'basedonvideogam' 'basedonyoungadultnovel' 'basement' 'basketbal'
 'basketball' 'bat' 'batman' 'battl' 'battle' 'battlefield' 'bay' 'beach'
 'beam' 'bear' 'beard' 'beast' 'beat' 'beauti' 'beautiful'
 'beautifulwoman' 'beauty' 'becam' 'becaus' 'becki' 'becom'
 'becominganadult' 'bed' 'bedroom' 'bee' 'beer' 'befor' 'befriend' 'began'
 'begin' 'begins' 'behavior' 'belief' 'believ' 'bell' 'bella' 'belong'
 'belov' 'ben' 'benaffleck' 'bend' 'beneath' 'benefit' 'benfost'
 'beniciodeltoro' 'benjamin' 'benjaminbratt' 'benkingsley' 'bennett'
 'benstil' 'bent' 'berlin' 'best' 'bestfriend' 'bestfriendsinlov' 'bet'
 'beth' 'betray' 'bettemidl' 'better' 'betti' 'beverli' 'bibl' 'bid' 'big'
 'bigger' 'biggest' 'bike' 'biker' 'bikini' 'billhad' 'billi' 'billionair'
 'billmurray' 'billnighi' 'billpaxton' 'billpullman' 'billybobthornton']

In [116]:
from sklearn.metrics.pairwise import cosine_similarity

In [119]:
similarity=cosine_similarity(vectors)

In [122]:
similarity[3]

array([0.07347184, 0.03883678, 0.06004806, ..., 0.03140371, 0.04852616,
       0.08633531])

In [129]:
def recommend(movie):
    movie_index=new_df[new_df['title']==movie].index[0]
    distances=similarity[movie_index]
    movies_list= sorted(list(enumerate(distances)),reverse=True,key=lambda x:x[1])[1:11]
    for i in movies_list:
        print(new_df['title'][i[0]])

In [133]:
recommend('Batman')

Batman
Batman & Robin
Batman Begins
Batman Returns
Osama
The Dark Knight Rises
Batman Forever
The Blood of Heroes
Micmacs
Punisher: War Zone

In [ ]:
import pickle

In [140]:
pickle.dump(new_df.to_dict(),open('movies_dict.pkl','wb'))

In [139]:
pickle.dump(similarity,open('similarity.pkl','wb'))